Scripts/
Include/
Lib/
etc/
share/
experimental/
pyvenv.cfg
assets/AMD.png
assets/BMW.png
assets/iShares.png
assets/Mr._Smiley_Face.svg
assets/Red_Smiley.svg
assets/Shell.png
assets/Stockvisualizer_Impression.png
assets/Vaneck.png
assets/Xiaomi.png
Stockviewer_v03.py


